on: [pull_request]
name: pr-check
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.11.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}

      - name: Checkout code
        uses: actions/checkout@v1

      - name: Lint
        run: make lint

      - name: Run tests
        run: make test-all